In [1]:
sc

In [2]:
sc.version

In [3]:
import pandas as pd

In [4]:
myData = sqlContext.sql("select `User-ID` from ratings")

In [5]:
myData.show()

In [6]:
myData2 = sqlContext.sql("select * from ratings")

In [7]:
myData2.show()

In [8]:
import os
import sys
from itertools import islice
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab

In [9]:
df = sqlContext.sql("SELECT u.UserID, u.Location, u.Age from users u where location like '%usa%'")
#df.show()
df.printSchema()

In [10]:
#Convert Spark Dataframe to pandas DataFrame
#df_pd = spark.createDataFrame(df)
dfPD = df.toPandas()

In [11]:
type(dfPD)

In [12]:
# Select everybody, but increment the age by 1
df.describe()

In [13]:

# Select people older than 21
df.filter(df['Age'] > 21).show()
## age name
## 30  Andy

In [14]:
# Count people by age
df.groupBy('Age').count().show()
## age  count
## null 1
## 19   1
## 30   1

In [15]:
df.collect()

In [16]:
df.count()

In [17]:
df.filter(df['Age'] > 21).show()

In [18]:
df.groupBy('Age').count().show()

In [19]:
df_books = sqlContext.sql("SELECT * from books")
#df.show()
df_books.printSchema()

In [20]:
df_books = df_books.toPandas()
df_books.describe()

In [21]:
df_ratings = sqlContext.sql("SELECT * from ratings")
#df.show()
df_ratings.printSchema()